/*
Визуальное скрытие элемента

Класс visually-hidden используется в веб-разработке для скрытия элементов от визуального отображения на странице, при этом оставляя их доступными для экранных читалок и других вспомогательных технологий. Это полезно для улучшения доступности веб-сайтов, позволяя пользователям с ограниченными возможностями взаимодействовать с контентом, который не предназначен для визуального отображения.

Markup:
<p class='visually-hidden'>Визуально спрятанный текст.</p>

Styleguide Condition.visually-hidden
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
